<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="en">viacash Payment</label>
    <label lang="de">Barzahlen Payment</label>

    <version>2.0.0</version>
    <copyright>(c) viafintech GmbH, encurio GmbH</copyright>
    <author>viafintech GmbH, encurio GmbH</author>
    <link>https://www.barzahlen.de/</link>

    <compatibility minVersion="5.2.13" maxVersion="5.99.99"/>

    <changelog version="2.0.0">
        <changes lang="de">Anbindung der neuen Barzahlen V2 API</changes>
        <changes lang="en">Implementation of the new viacash V2 API</changes>
    </changelog>

</plugin>
